@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100;300;400;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    line-height: 24px;
    background: rgba(0,0,0,1);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

main {
    display: grid;
    grid-template-columns: 40% auto;
    overflow-x: hidden;
}

header {
    position: absolute;
}

.display{
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    pointer-events: none;
}

#globeViz {
    margin-left: -20%;
    position: relative;
    z-index: 1;
}

@media(max-width: 950px) {
    #globeViz {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -50%;
    }
}

.hero-container {
    min-height: 100svh;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%,  rgba(0,0,0,0) 100%);
    position: relative;
    z-index: 2;
    display: grid;
    align-content: center;
    grid-gap: 6rem;
}

.hero-container__left{
    padding-right: 3rem;
}

.hero-container__left h1{
    font-family: 'Bangers', Roboto;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: normal;
}


