@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100;300;400;700&display=swap');

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
    /* background: rgb(247, 30, 30, 0.1) */
}

body {
    font-family: "Robotto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    line-height: 24px;
    background: rgba(0,0,0,1);
    color: #ffffff;
}

main {
    overflow-x: hidden;
}

header {
    position: absolute;
}

.wrapper {
    display: flex;
}

.display{
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    pointer-events: none;
}

#globeViz {
    margin-left: -20%;
    position: relative;
    z-index: 1;
    flex-basis: 60%;
    flex-grow: 0
}

.hero-container {
    min-height: 100svh;
    min-width: 600px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%,  rgba(0,0,0,0) 100%);
    position: relative;
    z-index: 2;
    display: grid;
    align-content: center;
    grid-gap: 1rem;
}

@media(max-width: 1200px) {
    .hero-container {
       min-width: 500px;
    }
}

button {
    max-width: 300px;
}

@media(max-width: 950px) {
    #globeViz {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0%;
        margin-top: 0%;
    }

    .wrapper {
        flex-wrap: wrap;
        min-height: 100svh;
    }

    .hero-container {
        grid-gap: 0rem;
        min-width: 100%;
        background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%,  rgba(0,0,0,0) 100%);
        min-height: 50svh;
        grid-template-columns: 170px auto;
    }

    .rob-head-shot img {
        width: 180px;
        height: 180px;
    }
}

.hero-container__left{
    padding-right: 3rem;
    display: grid;
    grid-gap: 1rem;
    position: relative;
    z-index: 1;
    margin-top: 2rem;
}

@media(max-width: 725px) {
    .hero-container {
       grid-template-columns: 1fr;
       text-align: center;
    }

    .hero-container__left {
        padding-right: 0rem;
    }

    #globeViz {
        margin-top: -10%;
    }
}



.hero-container__left h1{
    font-family: 'Bangers', Roboto;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: normal;
}


