@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100;300;400;700&display=swap');

body {
  background: rgb(46, 50, 135);
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(46, 50, 135, 1) 0%,
    rgba(68, 13, 83, 1) 0%,
    rgba(9, 9, 9, 1) 100%
  );
  transition: all 300ms;
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: calc(100% - 4.5rem);
}

@media(max-width:2200px) {
  main {
    grid-template-columns: calc(100% - 2.5rem);
  }
}

@media(max-width:1700px) {
  main {
    grid-template-columns: 100%;
  }
}

.sidebar {
  position: fixed;
  width: 400px;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding: 1rem;
}

@media(max-width:750px) {
  .sidebar {
    display: none;
  }
}

.portfolio-items {
  display: grid;
  color: #ffffff;
  margin-left: 400px;
  grid-gap: 1rem;
  padding: 2rem;
}

#pf-categories {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0;
  height: 97svh;
  grid-gap: 1rem;
}

@media(max-width:750px) {
  #pf-categories {
    grid-template-columns: 1fr;
  }
  
  .portfolio-items {
    margin-left: 0;
  }
}


#pf-categories .pf-category:nth-last-child(1):nth-child(odd) {
  grid-column: 1/3;
}

.pf-category {
  padding: 0.5rem 0.8rem;
  background-color: #fff;
  border: 1px solid;
  cursor: pointer;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.pf-category span {
  text-transform: uppercase;
}

#pf {
  color: #fff;
  position: relative;
  transition: all 300ms;
}

.pf-header {
  background: rgb(252, 252, 252);
  background: radial-gradient(
    circle,
    rgba(252, 252, 252, 1) 0%,
    rgba(200, 225, 255, 1) 100%
  );
  padding: 0.5rem;
  text-align: center;
  color: #717070;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.circles,
.circles:before,
.circles:after {
  background-color: #f55858;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0.5rem;
  top: 10px;
  border-radius: 50%;
}

.circles:before {
  content: " ";
  left: 16px;
  background-color: #ffbd2e;
  top: 0;
}

.circles:after {
  content: " ";
  left: 32px;
  background-color: #28ca41;
  top: 0;
}


#pf-items {
  grid-template-columns: 33% 34% 33%;
  display: grid;
  width: calc(100% - 1rem);
  grid-gap: 2rem;
}

@media(min-width:2500px) {
  #pf-items {
    grid-template-columns: 25% 25% 25% 25%;
    width: calc(100% - 1rem)    
  }
}

@media(max-width:2000px) {
  #pf-items {
    grid-template-columns: 50% 50%;
    width: calc(100% - 1rem);
  }
}

@media(max-width:1150px) {
  #pf-items {
    grid-template-columns: 1fr ;
  }
}

.pf-item {
  cursor: pointer;
}

.pf-item a {
  text-decoration: none;
}

.pf-main {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.pf-main:before {
  content: "";
  position: absolute;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.75) inset;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pf-item img {
  max-width: 100%;
}

.pf-item-img {
  width: 100%;
}

@media(max-width:1500px) {
  .pf-item-img {
    width: 100%;
  }
}

@media(max-width:1300px) {
  .pf-item-img {
    width: 100%;
  }
}

@media(max-width:1150px) {
  .pf-item-img {
    width: 100%;
  }
}

@media(max-width:950px) {
  .pf-item-img {
    width: 100%;
  }
}

@media(max-width:750px) {
  .pf-item-img {
    width: 100%;
  }
}

@media(max-width:550px) {
  .pf-item-img {
    width: 100%;
  }
}

.pf-item-hover-img {
  position: absolute;
  top: 0;
  height: 0;
  transition: height 300ms;
  width: 100%;
}

.height {
  height: 100% !important;
  transition: height 300ms;
}

.pf-tags {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 0;
  transition: height 300ms;
  background-color: #33333375;
  width: 100%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.75) inset;
}

.pf-tags ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 0rem 2.5rem 2rem;
  flex-wrap: wrap;
  height: 100%;
  align-content: center;
}

.pf-tags ul li {
  margin: 0.1rem;
  padding: 0.5rem;
  display: flex;
  font-size: 0.7rem;
  cursor: pointer;
  width: 45px;
  height: 45px;
  color: transparent;
  background-size: cover;
}

.hidden {
  transition: all 1000ms ease-in-out;
  height: 0;
  visibility: hidden;
  display: none;
}

/* -----------  PORTFOLIO FILTER / PAGE ANIMATIONS AND TRANSITIONS ------ */

#pf-filter-page-animation {
  position: fixed;
  height: 100vh;
  width: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  top: 0;
  margin-left: -155%;
  -webkit-transition: all 1s cubic-bezier(0, 0.99, 1, 0.02);
  transition: all 1.2s cubic-bezier(0, 0.99, 1, 0.02);
  text-transform: uppercase;
}

.pf-filter-page-effects {
  margin-left: 115% !important;
}

#pf-filter-title {
  color: rgb(255, 187, 86);
}

#pf-filter-title::before {
  content: "Filtering ";
  color: #fff;
}

#pf-filter-title::after {
  content: " Projects";
  color: #fff;
}

.pf-category-clicked {
  background-color: #fff;
  color: #000000;
  transition-delay: 1000ms;
}

.pf-category:hover {
  background-color: #fff;
  color: #000000;
}

.pf-category:hover .icon-socket-io {
  filter: none !important;
}

.pf-category-clicked .icon-socket-io {
  filter: none !important;
}

/****** Popup info ******/


#popup-container {
  position: fixed;
  height: 100svh;
  width: 100vw;
  background-color: rgb(0,0,0,0.7);
  top: 0;
  left: 0;
  overflow: visible;
  z-index: 10;
}

.popup-info {
  position: fixed;
  max-height: 460px;
  box-shadow: 0 45px 89px rgb(0, 0, 0, 0.6);
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(17 0 29 / 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #ffffff;
  width: calc(100% - 2rem);
  max-width: 1400px;
  height: 100%;
  z-index: 11;
}

.pf-info__left {
}

.pf-info__right {
  overflow: hidden;
  padding-bottom: 4rem;
}

.pf-popup .hidden {
  pointer-events: none;
}

.popup-info {
  display: grid;
  grid-template-columns:60% 40%;
}

.project-details {
  padding: 0rem 1rem 1rem 2rem;
  height: 70%;
  overflow-y: auto;
}

.project-details ul {
  margin: 1rem 1rem 1rem 1.5rem;
}

ul.pf-info-tags {
  margin: 0;
}


@media(max-width:900px) {
  .popup-info {
    grid-template-columns:1fr;
    overflow-y: auto;
    height: 100%;
    max-height: 600px;
  }
  .pf-info__left {
    display: none;
  }

  .pf-info__right {
    overflow: hidden;
    padding-bottom: 4rem;
}

  .project-details ul {
    margin: 1rem 0rem 1rem 0rem;
  }
}

.pf-info__main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  .pf-popup {
    border-radius: 0;
  }
}

.pf-info-header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid rgb(255,255,255,0.5);
  padding: 1rem;
}

.pf-info-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 1rem 0 0;
}

/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Adjust width as needed */
}

/* Style the track (background) */
::-webkit-scrollbar-track {
  background: #2f016a; /* Track color */
}

/* Style the thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #e60c8b; /* Handle color */
  border-radius: 6px; /* Rounded corners */
}

/* Hover effect for the handle */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color when hovering */
}

#close {
  position: absolute;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 1;
  top: 0.5rem;
  right: 0.5rem;
  background-color: black;
  border-radius: 10px;
  padding: 0 0.5rem
}


.pf-info-tags {
  list-style: none;
  display: flex;
  color: transparent;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem 0.5rem 0;
}

#pf-info-btn {
  padding: 1rem 2rem;
  border-radius: 14px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

#pf-info-btn:focus {
  outline: none;
}